@import url("palitra.css");

body{
    background-color: rgb(25, 25, 25);
}

header {
    width: 100%;
    text-align: center;
    background-color: var(--f1)
}

footer {
    width: 100%;
    text-align: center;
    background-color:  var(--f1)
}

aside {
    width: 20%;
    text-align: center;
}

.container {
    margin: auto;
    text-align: center;
    display: flex;
    width: 80%;
}

.content {
    
    margin: auto;
    text-align: center;
    width: 80%;
}

.blocklog {
    color: rgb(170, 170, 170);
    margin: auto;
    text-align: center;
    width: 40%;
    background-color: rgb(35, 35, 35);
    border: solid 5px var(--f1);
    border-radius: 10px;
}

a {
    color: rgb(130, 130, 130);
}