{% extends 'base/start.html' %}

{% block title %}
    {{data.title}}
{% endblock %}

{% block content %}
    <div class="blocklog">
        <p>Добавить пользователя</p>
        <form method="post">
            <p><input type="text" name="name" value="{{data.user.name}}" placeholder="Имя"></p>
            <p><input type="text" name="number" value="{{data.user.number}}" placeholder="Число"></p>

            Город: <select name="city_id">
                {%if data.city%}
                    {%for i in data.city%}
                        {%if i.id == data.user.city_id%}
                            <option selected value="{{i.id}}">{{i.name}}</option>
                        {%else%}
                            <option value="{{i.id}}">{{i.name}}</option>
                        {%endif%}
                    {%endfor%}
                {%else%}
            <option>Нет данных</option>
                {%endif%}
            </select>

            <button type="submit">Отправить</button>
            <p><a href="{{url_for('index')}}">Уже есть аккаунт? </a></p>
        </form>
    </div>
{% endblock %}
