{% extends 'base/start.html' %}

{% block title %}
    {{data.title}}
{% endblock %}

{% block content %}
    <div class = "basedata">
    <h1>Пользователи</h1>
    {% if data.users %}
        {% for i in data.users %}
            {{i.id}}
            <a href="/user/{{i.id}}">{{i.name}}</a>
            {{i.description}}
            <br>
        {% endfor %}
    {% else %}
        <p>Данные отсутсвуют</p>
    {% endif %}
    <a href="/createusers">Создать нового пользователя</a>
    <p></p>
    </div>
{% endblock %}